{
    "data": {
        "elevation": 88,
        "external_url": null,
        "internal_url": null,
        "latitude": 23.115141024614235,
        "location_name": "\u6211\u7684\u5bb6",
        "longitude": 113.32577705383302,
        "time_zone": "UTC",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}